###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# var
/var/*
!/var/.gitignore
!/var/.gitkeep

# web
/public/bundles
/public/uploads
/public/admin/translations/*
!/public/admin/translations/.gitkeep

# composer
/composer.phar
/vendor

# npm
node_modules

# phpunit
.phpunit
.phpunit.result.cache
/phpunit.xml

# IDEs
/.idea
*.iml
*~
.web-server-pid
.php-version
php.ini

# System files
.DS_Store
