<div class="row">
    <blockquote class="blockquote text-center">
        <p class="mb-0">{{ content.quote }}</p>
        <footer class="blockquote-footer">{{ content.author }}</footer>
    </blockquote>
</div>
