{% extends "base.html.twig" %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ event.title }}</h1>
            <p class="lead text-muted">{{ event.startDate|date('Y-m-d') }} - {{ event.endDate|date('Y-m-d') }}</p>
        </div>
    </section>

    <div class="container">
        {{ event.description|raw }}
    </div>
{% endblock %}
